<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
<div id="posts-container" th:fragment="postsList">
    <div th:each="post : ${posts}">
        <article class="post-article">
            <div class="post-meta">
                <div class="post-meta-icon">
                    <i class="far fa-eye"></i>
                    <span th:text="${#numbers.formatDecimal(post.views, 0, 'NONE', 0, 'NONE')}"></span>
                </div>
                <div class="post-meta-icon">
                    <i class="far fa-comment"></i>
                    <span th:text="' Comments'"></span>
                </div>
                <div class="post-meta-icon">
                    <!-- <span th:text="${...}"></span> -->
                </div>
            </div>

            <div>
                <span class="post-category" th:text="${post.category.categoryName}"></span>
                <h2 class="post-title" th:text="${post.title}"></h2>
                <p class="post-content">
                    <span th:text="${post.content.length() > 200} ? ${post.content.substring(0, 200)} + ' [...]' : ${post.content}"></span>
                    <span class="post-more">MORE</span>
                </p>
            </div>

            <footer class="post-footer">
                <div class="post-vote">
                    <button class="post-vote-btn">
                        <i class="fas fa-arrow-up"></i>
                    </button>
                    <button class="post-vote-btn">
                        <i class="fas fa-arrow-down"></i>
                    </button>
                </div>
                <button class="post-options-btn">
                    <i class="fas fa-ellipsis-h"></i>
                </button>
            </footer>
        </article>
    </div>
</div>
</body>
</html>
